Name-Snehitha Goparapu

Matriculation no:- 87173172

1. Import the dataset into a pandas dataframe. Make sure that the date column is
in pandas date time format.

In [2]:
import pandas as pd
df = pd.read_csv("train.csv")

In [3]:
df['datetime'] = pd.to_datetime(df['datetime'])

df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

2. Check the data type of each column. How many rows are there in the dataset? Does the dataset contain any missing values ?

In [4]:

print(df.dtypes)
print("Number of rows:", len(df))
print("Missing values per column:")
print(df.isnull().sum())

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object
Number of rows: 10886
Missing values per column:
datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

3. Using the date column, create new columns for: year, month, day of the week and hour of the day.

In [5]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day_of_week'] = df['datetime'].dt.dayofweek
df['hour'] = df['datetime'].dt.hour
df[['year','month','day_of_week','hour']].head()

   year  month  day_of_week  hour
0  2011      1            5     0
1  2011      1            5     1
2  2011      1            5     2
3  2011      1            5     3
4  2011      1            5     4

4. Rename the values in the season column to spring, summer, fall and winter.

In [6]:
season_map = {
    1: 'spring',
    2: 'summer',
    3: 'fall',
    4: 'winter'
}

df['season'] = df['season'].map(season_map)
df[['season']].head()
print(df)

                 datetime  season  holiday  workingday  weather   temp  \
0     2011-01-01 00:00:00  spring        0           0        1   9.84
1     2011-01-01 01:00:00  spring        0           0        1   9.02
2     2011-01-01 02:00:00  spring        0           0        1   9.02
3     2011-01-01 03:00:00  spring        0           0        1   9.84
4     2011-01-01 04:00:00  spring        0           0        1   9.84
...                   ...     ...      ...         ...      ...    ...
10881 2012-12-19 19:00:00  winter        0           1        1  15.58
10882 2012-12-19 20:00:00  winter        0           1        1  14.76
10883 2012-12-19 21:00:00  winter        0           1        1  13.94
10884 2012-12-19 22:00:00  winter        0           1        1  13.94
10885 2012-12-19 23:00:00  winter        0           1        1  13.12

        atemp  humidity  windspeed  casual  registered  count  year  month  \
0      14.395        81     0.0000       3          13     16  2011      1
1      13.635        80     0.0000       8          32     40  2011      1
2      13.635        80     0.0000       5          27     32  2011      1
3      14.395        75     0.0000       3          10     13  2011      1
4      14.395        75     0.0000       0           1      1  2011      1
...       ...       ...        ...     ...         ...    ...   ...    ...
10881  19.695        50    26.0027       7         329    336  2012     12
10882  17.425        57    15.0013      10         231    241  2012     12
10883  15.910        61    15.0013       4         164    168  2012     12
10884  17.425        61     6.0032      12         117    129  2012     12
10885  16.665        66     8.9981       4          84     88  2012     12

       day_of_week  hour
0                5     0
1                5     1
2                5     2
3                5     3
4                5     4
...            ...   ...
10881            2    19
10882            2    20
10883            2    21
10884            2    22
10885            2    23

[10886 rows x 16 columns]

5. Calculate the total number of casual and registered bikes rented in the years 2011 and 2012.

In [7]:
totals_by_year = df.groupby('year')[['casual', 'registered']].sum()
totals_by_year.loc[[2011, 2012]]

      casual  registered
year
2011  155817      626162
2012  236318     1067179

6. Calculate the mean of the hourly total rentals count by season. Which season has the highest mean ?

In [8]:
mean_by_season = df.groupby('season')['count'].mean()
mean_by_season

season
fall      234.417124
spring    116.343261
summer    215.251372
winter    198.988296
Name: count, dtype: float64

In [9]:
print("Season with highest mean rentals:", mean_by_season.idxmax())

Season with highest mean rentals: fall

7. Are more bikes rented by registered users on working or non-working days ?
Does the answer differ for non-registered users ? Is the answer the same for both years ?

In [10]:

reg = df.groupby('workingday')['registered'].sum()
cas = df.groupby('workingday')['casual'].sum()

print("Registered rentals:\n", reg)
print("\nCasual rentals:\n", cas)

Registered rentals:
 workingday
0     448835
1    1244506
Name: registered, dtype: int64

Casual rentals:
 workingday
0    206037
1    186098
Name: casual, dtype: int64

In [11]:
df.groupby(['year','workingday'])[['registered','casual']].sum()

                 registered  casual
year workingday
2011 0               167492   83099
     1               458670   72718
2012 0               281343  122938
     1               785836  113380

8. Which months in the year 2011 have the highest and the lowest total number of bikes rented ? Repeat for the year 2012.

In [12]:
monthly_totals = df.groupby(['year','month'])['count'].sum()
print(monthly_totals)
print("2011 highest:", monthly_totals[2011].idxmax())
print("2011 lowest:", monthly_totals[2011].idxmin())

print("2012 highest:", monthly_totals[2012].idxmax())
print("2012 lowest:", monthly_totals[2012].idxmin())

year  month
2011  1         23552
      2         32844
      3         38735
      4         50517
      5         79713
      6         89776
      7         92848
      8         83296
      9         79104
      10        79522
      11        70889
      12        61183
2012  1         56332
      2         66269
      3         94766
      4        116885
      5        120434
      6        130957
      7        121769
      8        130220
      9        133425
      10       127912
      11       105551
      12        98977
Name: count, dtype: int64
2011 highest: 7
2011 lowest: 1
2012 highest: 9
2012 lowest: 1

9. Which type of weather have the highest and lowest mean of the hourly total rentals count ?

In [13]:
weather_mean = df.groupby('weather')['count'].mean()
print (weather_mean)

print("Highest mean:", weather_mean.idxmax())
print("Lowest mean:", weather_mean.idxmin())

weather
1    205.236791
2    178.955540
3    118.846333
4    164.000000
Name: count, dtype: float64
Highest mean: 1
Lowest mean: 3

10. Calculate the correlation between the hourly total rentals count and all the numerical columns in the dataset. Which column has the highest correlation with the total rentals count ?

In [14]:
numeric_df = df.select_dtypes(include=['int64', 'float64'])
corr = numeric_df.corr()['count'].sort_values(ascending=False)
corr

count         1.000000
registered    0.970948
casual        0.690414
temp          0.394454
atemp         0.389784
windspeed     0.101369
workingday    0.011594
holiday      -0.005393
weather      -0.128655
humidity     -0.317371
Name: count, dtype: float64

11. Create a new categorical column called day_period, which can take four possible values: night, morning, afternoon and evening. These values correspond to the following binning of the hour column: 0-6: night, 6-12: morning, 12-6: afternoon, 6-24:evening.

In [15]:
def get_day_period(hour):
    if 0 <= hour < 6:
        return 'night'
    elif 6 <= hour < 12:
        return 'morning'
    elif 12 <= hour < 18:
        return 'afternoon'
    else:
        return 'evening'

df['day_period'] = df['hour'].apply(get_day_period)
df[['hour','day_period']].head()

   hour day_period
0     0      night
1     1      night
2     2      night
3     3      night
4     4      night

12. Generate a pivot table for the mean of the hourly total rentals count, with the index set to the day period and the column set to the working day column.
What can you observe from the table ?

In [16]:
pivot_table = pd.pivot_table(
    df,
    values='count',
    index='day_period',
    columns='workingday',
    aggfunc='mean'
)

pivot_table

workingday           0           1
day_period
afternoon   371.022989  266.196141
evening     180.182759  251.054662
morning     157.772414  234.353763
night        44.052083   16.217582

Observations from this pivot:

Bike rentals are highest in the morning and evening on working days (commute times), while on non-working days afternoon rentals are higher. Night rentals are low for both working and non-working days.